[Unit]
Description=activemq hub master service unit
After=docker.service
Wants=activemq-hub-master-presence@%i.service

[Service]
Restart=always
RestartSec=15
TimeoutSec=120
EnvironmentFile=/etc/environment
Environment="DOMAIN_NAME=cluster.duffqiu.org"
Environment="IMAGE_VER=noreplicated"
ExecStartPre=-/usr/bin/docker kill activemq-hub-master-%i
ExecStartPre=-/usr/bin/docker rm  activemq-hub-master-%i
ExecStartPre=-/usr/bin/docker pull duffqiu/activemq-hub:${IMAGE_VER}
ExecStart=/usr/bin/docker run  \
                              --name activemq-hub-master-%i \
                              -e NODE_ID=%i \
                              -e HUB_NUM=3 \
                              --hostname core%i-0.${DOMAIN_NAME} \
                              --dns-search ${DOMAIN_NAME} \
                              --dns ${COREOS_PRIVATE_IPV4} \
                              -p ${COREOS_PRIVATE_IPV4}:61716:61716 \
                              -p ${COREOS_PRIVATE_IPV4}:9161:8161 \
                              -v /mirror/activemq-hub/%i/master/data:/activemq/data \
                              duffqiu/activemq-hub:${IMAGE_VER}
ExecStop=-/usr/bin/docker stop activemq-hub-master-%i

[X-Fleet]
Conflicts=activemq-hub-master@*.service 
MachineMetadata=role=back

